body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #white;
}


.btn {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgba(75, 172, 189, 0.89);
    color: #fff;
    font-size: 1.5em;
    line-height: 1.5;
    list-style-type: none;

}

li:hover {
    background-color: #075562;
}

button {
    margin: 1em;
}

#add-button {
background-color: white;
border-radius: 5px;
padding: 5px 10px;
color: black;
outline: none;
}

#final-score {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.5em;
    line-height: 1.5;
    list-style-type: none;
}

#save-score {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.5em;
    line-height: 1.5;
    list-style-type: none;
    font-weight: bold;
}